.about-section{
    padding: 6rem;
    background-color: #cff0ea;
    color: black;
}

.about-section h2{
    text-align: center;
    font-size: 2rem;
    margin-bottom: 1.5rem;
    justify-content: center;
}

.who,.what{
    align-content: center;
    text-align: center;
}
.who a{
    max-width: 70%;
    
}

.about-content div h3{
    font-size: 1.5rem;
    margin-bottom: 0.5rem;
}

.about-content div p{
    font-size: 1rem;
    line-height: 1.6;
}
