.about-section{
    padding: 6rem;
    background-color: #cff0ea;
    color: black;
}

.about-section h2{
    text-align: center;
    font-size: 2rem;
    margin-bottom: 1.5rem;
    justify-content: center;
}

.who,.what{
    align-content: center;
    text-align: center;
}
.who a{
    max-width: 70%;
    
}

.about-content div h3{
    font-size: 1.5rem;
    margin-bottom: 0.5rem;
}

.about-content div p{
    font-size: 1rem;
    line-height: 1.6;
}

.image-card {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 3rem auto;
    position:relative;
    width: 100%;
    max-width: 60%;
    
  }
  
  .image-container {
    position: relative;
    width: 95%;
    height: auto;
    overflow: hidden;
    border-radius: 20px;
    box-shadow: 0 8px 15px rgba(0, 0, 0, 0.3);
  }
  
  .landscape-image {
    width: 100%;
    height: auto;
    display: block;
    border-radius: 20px;
    object-fit: cover;
  }
  
  /* .glass-effect {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    backdrop-filter: blur(0.1px);
    background: rgba(255, 255, 255, 0.3); 
    border-radius: 20px;
    pointer-events: none; 
    border: 2px solid rgba(255, 255, 255, 0.6);
    box-shadow: 0 8px 15px rgba(0, 0, 0, 0.2);
  }  */
  