.footer{
    background-color: #dbc923;
    color: black;
    text-align: center;
    padding: 1rem;
}

.social_media a{
    color: #fff;
    margin: 0 10px;
    text-decoration: none;
}

.social_media a:hover{
    text-decoration:overline;
}