.header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    background-color: #fff;
    padding: 0.5rem 1rem 0 ;
    display: flex;
    justify-content: space-between;
    align-items: center;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    z-index: 1000;
}

.logo {
    display: flex;
    align-items: center;
    margin-right: auto;
    padding-left: 20px;
}

.logo img {
    width: 80px;
    height: auto;
    margin-right: 10px;
}


nav {
    flex-grow: 1;
    display: flex;
    justify-content: center;
    align-items: center;

}

nav ul{
    display: flex;
    list-style: none;
    gap: 2rem;
    margin: 0;
    padding: 0;
}

nav ul li a {
    color: #3805ee;
    text-decoration: none;
    font-size: 16px;
    font-weight: 600;
    transition: color 0.3s ease;
}

nav ul li a:hover, a:active {
    text-decoration: overline;
    color: #aaa;
}

.nav-links {
    display: flex;
    list-style: none;
    margin-right: 2rem;
    gap: 1.5rem;
}

.nav-links li a {
    text-decoration: none;
    color: #3805ee;
    font-weight: 600;
}

.social-links {
    display: flex;
    list-style: none;
    gap: 2rem;
    padding-right: 5%;
}

.social-links li a {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 24px;
    height: 24px;
    color: #000;
    transition: transform 0.3s ease;
}

.social-links li a:hover {
    transform: scale(1.2);
}
